// sizes
$header-height              : 60px;
$container-width            : 850px;
$body-margin-top            : 75px;

// colors
$background-color           : #faf9f9;
$border-color               : #ccdae0;
$box-shadow-color           : rgba(#182125, .35);

// fonts
$default-font-family        : Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
