@CHARSET "UTF-8";
/**
 * Webkit Style
 */
::-webkit-scrollbar {
    height: 0.667rem;
    width: 0.667rem;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
    border-radius: 0.833rem;
    background: rgba(0, 0, 0, .3);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, .15);
    color: #F00;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .5);
}
::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .65);
}
::selection {
    background: rgba(211, 211, 211, .55);
    color: rgb(230, 39, 57);
}
::-moz-selection {
    background: rgba(211, 211, 211, .55);
    color: rgb(230, 39, 57);
}
::-webkit-selection {
    background: rgba(211, 211, 211, .55);
    color: rgb(230, 39, 57);
}
html, body {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}
body {
    color: rgb(51, 51, 51);
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    background-color: rgb(241, 241, 241);
    background: url('../images/tbg.png');
}
code, pre {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas', monospace;
}
#_Here-Installer-Header {
    height: 10rem;
    color: #fff;
    background: #23282d;
    cursor: default;
    text-align: center;
}
#_Here-Installer-Header h1 {
    margin: 0;
    font-family: "Droid Serif", Georgia, "Times New Roman", STHeiti, serif;
    font-size: 2rem;
    font-style: italic;
    line-height: 3rem;
    letter-spacing: 0.167rem;
}
#_Here-Installer-Container {
    cursor: default;
    margin-top: 2rem;
    background: #fff;
    box-shadow: 0 0 0.083rem rgba(0, 0, 0, .15);
}
#_Here-Replace-Container h3 {
    font-family: "Droid Serif", Georgia, "Times New Roman", STHeiti, serif;
    font-size: 1.8rem;
    font-style: italic;
    line-height: 3rem;
}
#_Here-Replace-Container > *:not(h3) {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.6rem;
    font-family: "Droid Serif",Georgia,"Times New Roman",STHeiti,serif;
}
._Here_link_disable {
    cursor: not-allowed !important;
    pointer-events: none;
}
