# zend studio
.settings
.buildpath
.project

# node
node_modules

# PHPStorm and WebStorm
.idea

# develop config
backend/configs/*.dev.php

# https certificate
docs/conf/nginx/vhost/cert

# something test files
*.dev.*
docs/conf/*-dev
