# zend studio
.settings
.buildpath
.project

# node
node_modules

# PHPStorm and WebStorm
.idea

# develop config
backend/configs/*.dev.php

# https certificate
docs/conf/nginx/vhost/cert

# front compiled files
public/*
!public/index.php
!public/.htaccess
!public/error.html

# something test files
*.test.*
docs/conf/*-test
