# sass cache
.sass-cache

# zend studio
.settings
.buildpath
.project

# node
node_modules

# PHPStorm and WebStorm
.idea

# develop config
backend/configs/*.dev.php

# https certificate
docs/docker/nginx/conf/server*

