@import "../includes/variables";

* {
  box-sizing: border-box;
}

html {
  line-height: 1.25;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: $default-font-family;
  background: $background-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

a, a:hover, a:active, a:visited {
  color: $link-color;
  letter-spacing: 0.55px;
  text-decoration: none;
  transition: color linear 0.375s;
}

a:hover {
  color: $font-color;
}

a[data-disabled] {
  cursor: default;
  pointer-events: none;
}

p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5em;
}
