/* layout: header */
.h-admin-header-container {
  padding: 18px;
  line-height: 30px;
  justify-content: space-between;
}

.h-admin-header-avatar {
  width: 30px;
  height: 30px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}

.h-admin-header-avatar a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.h-admin-header-avatar a:hover {
  border-bottom: 0;
}

.h-admin-header-right {
  display: flex;
  flex-direction: row;
  color: #9aa4af;
}

.h-admin-logout {
  color: #bac1c8;
  margin-left: 30px;
}

/* setup */
.h-setup-header-container {
  max-width: 1050px;
  height: 100%;
}

.h-setup-header-tips {
  color: #bbb;
  font-size: 12px;
}

.h-setup-header-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.h-setup-container {
  max-width: 850px;
  margin-top: 50px;
}

.h-setup-description {
  margin-bottom: 30px;
}

.h-setup-description p {
  margin-bottom: 2px;
}

.h-setup-description {
  color: #333;
  margin-bottom: 30px;
}

.h-setup-form {
  margin: 0 20px;
}

.h-setup-error-reason {
  width: 100%;
  margin: 0 20px 20px;
}

.h-setup-error-stacktrace {
  overflow-x: scroll;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .15);
}

.h-setup-retry {
  width: 90%;
}

.h-setup-retry a {
  float: right;
}

/* login */
.h-login-container {
  min-height: 100vh;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
}

.h-login-title {
  font-size: 24px;
}

.h-login-card {
  padding: 50px 20px;
  margin: 20px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .15);
  background: #fff;
}

.h-login-has-error .h-login-card {
  border: 1px solid #ff6238;
}

.h-back-prev-page {
  color: #ddd;
  float: right;
  line-height: 32px;
  margin-right: 20px;
}

.h-login-error-message {
  font-size: 14px;
  color: #ff6238;
  top: 0;
  text-align: center;
  line-height: 50px;
  position: absolute;
  margin-left: 80px;
}
