/* Global styles normalized */
* {
  box-sizing: border-box;
}

html {
  line-height: 1.25;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: #fafafa;
  text-rendering: optimizeLegibility;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,
    Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: color .25s ease-in-out;
}

a:hover {
  color: #425a70;
  border-bottom: 1px solid #425a70;
}

pre {
  font-family: "Fira Code", "Courier New", sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

::-webkit-scrollbar-track {
  background: rgba(43, 43, 43, .025);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(43, 43, 43, 0.2);
  transition: background .75s linear;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: rgba(43, 43, 43, .25);
}

/* Layout styles with container */
header {
  height: 66px;
  background: #f0f0f0;
  box-shadow: 0 0 1px rgba(0, 0, 0, .25);
}

main {
  display: block;
}

footer {
  color: #ccc;
}

/* Components styles */
.h-container {
  display: flex;
  flex: 1;
  margin: 0 auto;
  flex-basis: auto;
  flex-direction: column;
  padding: 0 20px;
}

.h-is-horizontal {
  flex-direction: row;
}

.h-middle-center {
  justify-content: center;
  align-items: center;
}

.h-content-box {
  max-width: 850px;
}

/* Form styles */
form {
  width: 100%;
  font-size: 14px;
}

input, button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.h-form-item {
  position: relative;
  margin-bottom: 20px;
}

.h-form-label {
  text-align: right;
  vertical-align: middle;
  position: absolute;
  font-size: 14px;
  float: left;
  color: #606266;
  width: 80px;
  line-height: 36px;
  padding: 0 12px 0 0;
}

.h-form-item[data-required] .h-form-label:after {
  content: '*';
  color: #ff6238;
}

.h-form-control {
  position: relative;
  display: inline-block;
  line-height: 36px;
  width: 320px;
  margin-left: 80px;
}

.h-form-control input {
  height: 36px;
  line-height: 36px;
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  font-size: inherit;
  outline: none;
  padding: 0 15px;
  width: 100%;
  transition: all .25s ease-in-out;
}

.h-form-control input:hover, .h-form-control input:focus {
  background: #fafafa;
  border: 1px solid #aaa;
}

/* Validator */
.h-validate-success input {
  border: 1px solid #70b991;
}

.h-validate-failure input {
  border: 1px solid #ff6238;
}

/* Buttons styles */
button {
  display: inline-block;
  padding: 7px 12px;
  font-size: 14px;
  white-space: nowrap;
  -webkit-appearance: none;
  text-align: center;
  font-weight: 500;
  background: #fff;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  transition: all .25s ease-in-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

button:hover {
  border: 1px solid #aaa;
  background: #fafafa;
}

/* prism extra */
pre {
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, .15);
  box-shadow: 0 0 3px rgba(0, 0, 0, .05);
}
