.h-explore-header {
  background: #fff;
  height: 150px;
}

.h-explore-author {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.h-explore-author-nickname {
  line-height: 40px;
}

.h-explore-articles {
  max-width: 850px;
  margin-top: 50px;
}

.h-explore-article {
  margin-bottom: 60px;
}

.h-explore-article-title {
  color: #293846;
  font-size: 22px;
  line-height: 40px;
}

.h-explore-article-title a {
  color: inherit;
}

.h-explore-article-metadata {
  font-size: 14px;
  color: #aaa;
  font-family: "Fira Code Light", sans-serif;
}

.h-explore-article-outline {
  margin: 10px 20px 30px 20px;
}

.h-explore-article-outline a {
  border-bottom: 1px dashed rgba(0, 0, 0, .25);
}

.h-explore-article-footer {
  justify-content: space-between;
}

.h-explore-article-footer p {
  margin-right: 20px;
}

.h-explore-article-footer p .h-icon {
  margin-right: 5px;
}

.h-common-footer {
  font-size: 12px;
  max-width: 850px;
  margin: 0 auto 50px;
  justify-content: center;
}

.h-footer-copyright {
  margin-right: 20px;
}
