.h-explore-articles {
  max-width: 1100px;
}

.h-explore-article {
  padding: 20px;
}
.h-explore-article-header {
  text-align: center;
}

.h-explore-article-title {
  line-height: 40px;
}

.h-explore-article-create-time {
  color: #aaa;
  font-family: "Fira Code Light", sans-serif;
}

.h-explore-article-outline {
  margin: 10px 20px;
}

.h-explore-article-outline a {
  border-bottom: 1px dashed rgba(0, 0, 0, .25);
}
