@CHARSET "UTF-8";
*,
*::before,
*::after {
  cursor: inherit;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  vertical-align: baseline;
}
html {
  font-size: 62.5%;
  /* font-size: 12px; */
  font-family: sans-serif;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
/*   -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%; */
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-webkit-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
body {
  margin: 0;
  line-height: 1.5;
}
a, img {
  -webkit-touch-callout: none;
}
a {
  text-decoration: none;
  background-color: transparent;
}
a:hover,
a:active,
a:focus {
  outline: 0;
}
hr {
  height: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
pre {
  overflow: auto;
}
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
}
button {
  overflow: visible;
}
button, select {
  text-transform: none;
}
button, html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button[disabled], html input[disabled] {
  cursor: not-allowed;
}
a, button, input, optgroup, select, textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input::-webkit-input-placeholder {
  color: #ccc;
}
input:focus::-webkit-input-placeholder {
  color: #f00;
}
input::-webkit-input-speech-button {
  display: none;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  font-weight: normal;
  text-align: left;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td, th {
  padding: 0;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote, q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}
a img {
  border: 0;
}
a {
  color: #0275d8;
  text-decoration: none;
}
a:focus, a:hover {
  color: #014c8c;
  text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}
strong {
    font-weight: bold;
}
/**
 * Grid System
 * 
 * Via: Bootstrap & fluidable
 */
.container {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin-right: auto;
  margin-left: auto;
}
.container::after {
  display: table;
  clear: both;
  content: "";
}
@media (min-width: 544px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.container-fluid {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid::after {
  display: table;
  clear: both;
  content: "";
}
.row {
  margin-right: -1.25rem;
  margin-left: -1.25rem;
}
.row::after {
  display: table;
  clear: both;
  content: "";
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-1 {
  width: 8.333333%;
}
.col-xs-2 {
  width: 16.666667%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33.333333%;
}
.col-xs-5 {
  width: 41.666667%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-7 {
  width: 58.333333%;
}
.col-xs-8 {
  width: 66.666667%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-10 {
  width: 83.333333%;
}
.col-xs-11 {
  width: 91.666667%;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
.col-xs-offset-1 {
  margin-left: 4.166667%;
}
.col-xs-offset-2 {
  margin-left: 8.333333%;
}
.col-xs-offset-3 {
  margin-left: 12.5%;
}
.col-xs-offset-4 {
  margin-left: 16.666667%;
}
.col-xs-offset-5 {
  margin-left: 20.833333%;
}
.col-xs-offset-6 {
  margin-left: 25%;
}
.col-xs-offset-7 {
  margin-left: 29.166667%;
}
.col-xs-offset-8 {
  margin-left: 33.333333%;
}
.col-xs-offset-9 {
  margin-left: 37.5%;
}
.col-xs-offset-10 {
  margin-left: 41.666667%;
}
.col-xs-offset-11 {
  margin-left: 45.833333%;
}
.col-xs-offset-12 {
  margin-left: 50%;
}
.col-xs-offset-13 {
  margin-left: 54.166667%;
}
.col-xs-offset-14 {
  margin-left: 58.333333%;
}
.col-xs-offset-15 {
  margin-left: 62.5%;
}
.col-xs-offset-16 {
  margin-left: 66.666666%;
}
.col-xs-offset-17 {
  margin-left: 70.833333%;
}
.col-xs-offset-18 {
  margin-left: 75%;
}
.col-xs-offset-19 {
  margin-left: 79.166667%;
}
.col-xs-offset-20 {
  margin-left: 83.333333%;
}
.col-xs-offset-21 {
  margin-left: 87.5%;
}
.col-xs-offset-22 {
  margin-left: 91.666667%;
}
.col-xs-offset-23 {
  margin-left: 95.833333%;
}
.col-xs-offset-24 {
  margin-left: 100%;
}
@media (min-width: 544px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-1 {
    width: 8.333333%;
  }
  .col-sm-2 {
    width: 16.666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.333333%;
  }
  .col-sm-5 {
    width: 41.666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.333333%;
  }
  .col-sm-8 {
    width: 66.666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.333333%;
  }
  .col-sm-11 {
    width: 91.666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
  .col-sm-offset-1 {
    margin-left: 8.333333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.666667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.333333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.666667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.333333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.666667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.333333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.666667%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.333333%;
  }
  .col-md-2 {
    width: 16.666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333333%;
  }
  .col-md-5 {
    width: 41.666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333%;
  }
  .col-md-8 {
    width: 66.666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333333%;
  }
  .col-md-11 {
    width: 91.666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
  .col-md-offset-1 {
    margin-left: 8.333333%;
  }
  .col-md-offset-2 {
    margin-left: 16.666667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.333333%;
  }
  .col-md-offset-5 {
    margin-left: 41.666667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.333333%;
  }
  .col-md-offset-8 {
    margin-left: 66.666667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.333333%;
  }
  .col-md-offset-11 {
    margin-left: 91.666667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.333333%;
  }
  .col-lg-2 {
    width: 16.666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.333333%;
  }
  .col-lg-5 {
    width: 41.666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333%;
  }
  .col-lg-8 {
    width: 66.666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.333333%;
  }
  .col-lg-11 {
    width: 91.666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
  .col-lg-offset-1 {
    margin-left: 8.333333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.666667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.333333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.666667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.666667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.333333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.666667%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left;
  }
  .col-xl-1 {
    width: 8.333333%;
  }
  .col-xl-2 {
    width: 16.666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.333333%;
  }
  .col-xl-5 {
    width: 41.666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.333333%;
  }
  .col-xl-8 {
    width: 66.666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.333333%;
  }
  .col-xl-11 {
    width: 91.666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
  .col-xl-offset-0 {
    margin-left: 0;
  }
  .col-xl-offset-1 {
    margin-left: 8.333333%;
  }
  .col-xl-offset-2 {
    margin-left: 16.666667%;
  }
  .col-xl-offset-3 {
    margin-left: 25%;
  }
  .col-xl-offset-4 {
    margin-left: 33.333333%;
  }
  .col-xl-offset-5 {
    margin-left: 41.666667%;
  }
  .col-xl-offset-6 {
    margin-left: 50%;
  }
  .col-xl-offset-7 {
    margin-left: 58.333333%;
  }
  .col-xl-offset-8 {
    margin-left: 66.666667%;
  }
  .col-xl-offset-9 {
    margin-left: 75%;
  }
  .col-xl-offset-10 {
    margin-left: 83.333333%;
  }
  .col-xl-offset-11 {
    margin-left: 91.666667%;
  }
  .col-xl-offset-12 {
    margin-left: 100%;
  }
}
/**
 * Widget
 */
.widget-btn {
  display: inline-block;
  padding: .375rem 1rem;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition-property: background, border;
  transition-duration: .35s;
}
.widget-btn:focus,
.widget-btn:active:focus,
.widget-btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.widget-btn:focus, .widget-btn:hover {
  text-decoration: none;
}
.widget-btn.focus {
  text-decoration: none;
}
.widget-btn:active, .widget-btn.active {
  background-image: none;
  outline: 0;
}
.widget-btn.disabled, .widget-btn:disabled {
  cursor: not-allowed;
  opacity: .65;
}
.widget-form-group {
  margin-bottom: 1rem;
}
.widget-input-group {
  width: 100%;
  display: inline-table;
}
.widget-form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: .25rem;
}
.widget-input-label {
  display: table-cell;
  white-space: nowrap;
  padding: .375rem .75rem;
  font-size: 1.4rem;
  vertical-align: middle;
  font-weight: normal;
  line-height: 0;
  color: #55595c;
  text-align: center;
  background-color: #eceeef;
  border: 1px solid #ccc;
  border-right: 0;
  border-radius: .25rem 0 0 .25rem;
}
.widget-input-label + .widget-form-control {
    border-radius: 0 .25rem .25rem 0;
}
/**
 * Widget Style
 */
.widget-btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.widget-btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.widget-btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.widget-btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.widget-btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.widget-btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.widget-btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.widget-btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.widget-btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.widget-btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.widget-btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.widget-btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.widget-hidden {
  display: none;
}
.widget-align-h {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.widget-align-vh {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  justify-content: center;
  align-items: center;
}
.widget-cursor-disable {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
}