@CHARSET "UTF-8";
/**
 * Webkit Style
 */
::-webkit-scrollbar {
  height: 0.667rem;
  width: 0.667rem;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, .3);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, .15);
  color: #F00;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, .5);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, .65);
}
::selection {
  background: rgba(211, 211, 211, .55);
  color: rgb(230, 39, 57);
}
::-moz-selection {
  background: rgba(211, 211, 211, .55);
  color: rgb(230, 39, 57);
}
::-webkit-selection {
  background: rgba(211, 211, 211, .55);
  color: rgb(230, 39, 57);
}
html, body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
}
body {
  color: rgb(51, 51, 51);
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  background-color: rgb(241, 241, 241);
}
#here-installer-Header {
    height: 10rem;
    color: #fff;
    background: #23282d;
    cursor: default;
    text-align: center;
}
#here-installer-Header h1 {
    margin: 0;
    font-family: "Droid Serif", Georgia, "Times New Roman", STHeiti, serif;
    font-size: 2rem;
    font-style: italic;
    line-height: 3rem;
    letter-spacing: 0.167rem;
}
#here-installer-container {
}
#here-server-env {
}
#here-replace-container {
    transition: all .35s;
}
#here-replace-container h3 {
    font-family: "Droid Serif", Georgia, "Times New Roman", STHeiti, serif;
    font-size: 1.8rem;
    font-style: italic;
    line-height: 3rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgb(241, 241, 241);
}
@media (max-width: 544px) {
    #here-replace-container h3 {
        text-align: center;
    }
}
#here-replace-container > *:not(h3) {
    margin-left: 1.5rem;
    margin-right: 1rem;
    font-size: 1.6rem;
    font-family: "Fira Mono", "Source Code Pro", monospace;
}
#here-replace-container p {
    margin:  0 0 1rem 0;
}
#here-replace-container a {
    color: rgb(102, 102, 102);
    cursor: pointer;
    border-bottom: 1px dashed rgba(0, 0, 0, .3);
    transition: all .35s;
}
#here-replace-container a:focus {
    text-decoration: none;
}
#here-replace-container a:hover {
    color: rgb(17, 17, 17);
    text-decoration: none;
    border-bottom: 1px dashed rgba(0, 0, 0, .65);
}
#here-replace-container #here-setting-form,
#here-replace-container #_Here-User-Info {
    margin-left: 0;
    margin-right: 0;
}
#here-replace-container label {
    font-size: 1.6rem;
    font-weight: bold;
    font-family: "Inconsolata", "DejaVu Sans Mono","Bitstream Vera Sans Mono", monospace;
}
#here-replace-container input {
    cursor: text;
}
#here-replace-container .input-description {
    margin-top: .233rem;
    margin-left: 1rem;
    color: #ccc;
    font-size: 1.5rem;
    /* font-family: "Inconsolata", "DejaVu Sans Mono","Bitstream Vera Sans Mono", monospace; */
    font-family: "Fira Mono", "Source Code Pro", monospace;
}
#here-replace-container #_Here-User-Info div.input-group:first-child {
    margin-bottom: 2rem;
}
#here-install-complete-msg > p {
    font-style: italic;
    font-size: 1.6rem;
}
@media (max-width: 544px) {
    #here-replace-container input {
        letter-spacing: .15rem;
    }
    #here-replace-container .input-description {
        font-size: 1.4rem;
    }
}
#btn-container {
    display: inline;
}
#next-step-btn {
    margin-top: 2rem;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', 微软雅黑, Arial, sans-serif;
}
#next-step-btn::after {
    content: " »";
}
#options-btn input {
    cursor: pointer;
    width: 8rem;
    margin-right: 2rem;
}
#option-save:hover {
    color: #FFF;
    background-color: #286090;
    border-color: #204d74;
}
#option-nosave:hover {
    color: #FFF;
    background-color: #c9302c;
    border-color: #ac2925;
}
footer {
    margin: 2rem auto;
}
.Here-toggle-content-ing {
    opacity: .7;
}
.Here-content-hidden {
    opacity: 0;
}
#_Here-Setting-Error h3 {
    margin-bottom: 1rem;
}
@media (max-width: 544px) {
    #_Here-Setting-Error {
        margin-left: 0 !important;
    }
    #_Here-Setting-Error p {
        font-size: 1.2rem;
    }
}
#_Here-User-Info label {
    width: 25%;
}
#_Here-User-Info .site-title {
    margin-bottom: 5rem;
}
.jax-input-disable {
    cursor: default !important;
}
.jax-input-require {
    color: rgb(230, 39, 57);
    border: 1px solid rgb(230, 39, 57);
}
.jax-fail, .jax-done {
    color: #333;
    display: block;
}
.jax-fail h3 {
    color: rgb(230, 39, 57);
    font-weight: bold;
}
.jax-done h3 {
    font-weight: bold;
}
.jax-tips p {
    color: inherit;
}
footer {
    font-family: "Droid Serif", Georgia, "Times New Roman", STHeiti, serif;
    color: #aaa;
    border-top: 1px solid #dbdbdb;
}