@charset "utf-8";

// Import Here definition
@import '../../here/definition';

// Import global variables
@import '../../here/global_vars';

// Button Widget
%widget-btn {
  display: inline-block;
  padding: .375rem 1rem;
  font: {
    weight: normal;
  }
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  @include user-select(none);
  border: 1px solid transparent;
  @include border-radius(.25rem);
  transition: {
    property: background, border;
    duration: .35s;
  }

  &:focus, &:active:focus {
    outline: thin dotted;
    //outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  &:hover, &:focus {
    text-decoration: none;
  }

  &:active {
    background-image: none;
    outline: 0;
  }
}
.widget-btn-disable, button:disabled {
  cursor: not-allowed;
  opacity: .65;
}
.widget-btn-default {
  @extend %widget-btn;
  color: #333;
  background-color: #fff;
  border-color: #ccc;

  &:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}
.widget-btn-primary {
  @extend %widget-btn;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;

  &:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }
}
.widget-btn-success {
  @extend %widget-btn;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;

  &:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
  }
}
.widget-btn-info {
  @extend %widget-btn;
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;

  &:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
  }
}
.widget-btn-warning {
  @extend %widget-btn;
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;

  &:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
  }
}
.widget-btn-danger {
  @extend %widget-btn;
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;

  &:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
  }
}