@charset "utf-8";

// Import Here definition
@import '../../here/definition';

// Import global variables
@import '../../here/global_vars';

// common container
.container {
  margin-right: auto;
  margin-left: auto;
  @include self-align-center;
  @include padding(1.25rem, 0, 1.25rem, 0);
  @include single-transition(all, .45s, ease-in-out);
}
@media (min-width: 544px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}