@charset "utf-8";

// Import Here definition
@import '../../here/definition';

// Import global variables
@import '../../here/global_vars';

.widget-form-group {
  margin-bottom: 1rem;
}
.widget-input-group-with-desc {
  margin-bottom: 1rem;

  @at-root {
    // div of wrapper label and input
    .widget-input-group {
      width: 100%;
      display: flex;

      // label
      .widget-input-label {
        cursor: pointer;
        color: #55595c;
        font-size: 1rem;
        flex-grow: 1;
        text-align: center;
        padding: .5rem .75rem;
        background: #eceeef;
        white-space: nowrap;
        font-weight: normal;
        border: 1px solid #ccc;
        border-right: 0;
        border-radius: .25rem 0 0 .25rem;
      }

      // input
      .widget-form-control {
        color: #55595c;
        font-size: 1rem;
        padding: .5rem .75rem;
        flex-grow: 9;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 0 .25rem .25rem 0;
        transition: all .35s;

        &:focus {
          border-color: #66afe9;
          outline: none;
        }
      }
    }
  }

  .input-description {
    margin-left: .5rem !important;
  }
}
@mixin here-widget-input-tablet {
  .widget-input-group {
    .widget-input-label {
      font-size: 1.4rem;
    }
    .widget-form-control {
      font-size: 1.4rem;
    }
  }
}
@mixin here-widget-input-desktop {
  .widget-input-group {
    .widget-input-label {
      font-size: 1.4rem;
    }
    .widget-form-control {
      font-size: 1.4rem;
    }
  }
}


@media screen and (min-width: #{map-get($break-points, 'phone') + 1}) {
  @include here-widget-input-tablet;
}

@media screen and (min-width: #{map-get($break-points, 'tablet') + 1}) {
  @include here-widget-input-desktop;
}
