@charset "utf-8";

// Import Here definition
@import '../../here/definition';

// Import global variables
@import '../../here/global_vars';

// body background color
body {
  background: {
    color: $outside-background-color;
  }
}
// link style
a {
  // link-colors($normal, $hover, $active, $visited, $focus)
  @include link-colors(#444, #222, #222, #444, #222);

  text-decoration: none;

  font: {
    style: italic;
  }

  border-bottom: 1px dashed rgba(0, 0, 0, .35);

  transition: all .35s ease-in-out;

  &:hover {
    border-bottom: 1px dashed rgba(0, 0, 0, .65);
    text-decoration: none;
  }

  &:active, &:focus {
    text-decoration: none;
  }
}
// paragraphs & title style
h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
// list style
ul, li, ol {
  list-style: none;
}
ul, ol {
  padding-left: 1.5rem;
}
li {
  margin: .25rem 0;
  line-height: 1.5;
}