@charset "utf-8";
// Import normalize module
@import 'normalize-version';
@import 'normalize/base';
@import 'normalize/html5';
@import 'normalize/links';
@import 'normalize/forms';
@import 'normalize/tables';
@import 'normalize/typography';

// Import compass module
@import 'compass/css3';
@import 'compass/typography';

// Import Here definition
@import '../here/definition';

// Import global variables
@import '../here/global_vars';

// include chrome scrollbar reset
@include reset-chrome-scrollbar;

// include selection color reset
@include reset-selection;

// body background color
body {
    background: {
        color: $outside-background-color;
    }
}
// link style
a {
    // link-colors($normal, $hover, $active, $visited, $focus)
    @include link-colors(#444, #222, #222, #444, #222);

    text-decoration: none;

    font: {
      style: italic;
    }

    border-bottom: 1px dashed rgba(0, 0, 0, .35);

    transition: all .35s ease-in-out;

    &:hover {
      border-bottom: 1px dashed rgba(0, 0, 0, .65);
      text-decoration: none;
    }

    &:active, &:focus {
      text-decoration: none;
    }
}
// paragraphs & title style
h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
// list style
ul, li, ol {
  list-style: none;
}
ul, ol {
  padding-left: 1.5rem;
}
li {
  margin: .25rem 0;
  line-height: 1.5;
}
// common container
.container {
  margin-right: auto;
  margin-left: auto;
  @include self-align-center;
  @include padding(1.25rem, 0, 1.25rem, 0);
  @include single-transition(all, .45s, ease-in-out);
}
@media (min-width: 544px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
// base flex container: row column direction
.flex-container {
    // include flexible box
    @include display-flex;
}
// flex container: column direction
.flex-container-column {
    @extend .flex-container;
    @include flex-direction(column);
}
// abstract: main axis center align
%flex-main-axis-center {
    @include justify-content(center);
}
// row direction: center align
.flex-container-center {
    @extend .flex-container, %flex-main-axis-center;
}
// column direction: center align
.flex-items-center {
    @include align-items(center);
}
.flex-self-center {
  @include align-self(center);
}
// cross-axis stretch
.flex-container-cross-stretch {
    @include align-items(stretch);
}
// cross-axis center
.flex-container-cross-center {
  @include align-items(center);
}
// cross-axis space-between
.flex-container-cross-space-between {
  @include align-items(space-between);
}
// cross-axis space-around
.flex-container-cross-space-around {
  @include align-items(space-around);
}
// Button Widget
%widget-btn {
  display: inline-block;
  padding: .375rem 1rem;
  font: {
    weight: normal;
  }
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  @include user-select(none);
  border: 1px solid transparent;
  @include border-radius(.25rem);
  transition: {
    property: background, border;
    duration: .35s;
  }

  &:focus, &:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  &:hover, &:focus {
    text-decoration: none;
  }

  &:active {
    background-image: none;
    outline: 0;
  }
}
.widget-btn-disable, button:disabled {
  cursor: not-allowed;
  opacity: .65;
}
.widget-btn-default {
  @extend %widget-btn;
  color: #333;
  background-color: #fff;
  border-color: #ccc;

  &:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}
.widget-btn-primary {
  @extend %widget-btn;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;

  &:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
  }
}
.widget-btn-success {
  @extend %widget-btn;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;

  &:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
  }
}
.widget-btn-info {
  @extend %widget-btn;
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;

  &:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
  }
}
.widget-btn-warning {
  @extend %widget-btn;
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;

  &:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
  }
}
.widget-btn-danger {
  @extend %widget-btn;
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;

  &:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
  }
}
// Widget: Progress bar
.widget-progress {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  height: .25rem;
  box-shadow: 0 0 10px 2px rgba(102, 0, 102, .45);
  transition: all .35s ease-in-out;
  background-color: #606;
}
