@CHARSET "UTF-8";
* {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  vertical-align: baseline;
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-webkit-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
body {
  margin: 0;
  line-height: 1.5;
}
a, img {
  -webkit-touch-callout: none;
}
a {
  text-decoration: none;
  background-color: transparent;
}
a:hover,
a:active,
a:focus {
  outline: 0;
}
hr {
  height: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
pre {
  overflow: auto;
}
code, kbd, pre, samp {
  font-family: monospace;
  font-size: 1.6rem;
}
code, pre {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas', monospace;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
}
button {
  overflow: visible;
}
button, select {
  text-transform: none;
}
button, html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button[disabled], html input[disabled] {
  cursor: not-allowed;
}
a, button, input, optgroup, select, textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input::-webkit-input-placeholder {
  color: #ccc;
}
input:focus::-webkit-input-placeholder {
  color: #f00;
}
input::-webkit-input-speech-button {
  display: none;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  font-weight: normal;
  text-align: left;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td, th {
  padding: 0;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote, q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}
a img {
  border: 0;
}
a {
  color: #0275d8;
  text-decoration: none;
}
a:focus, a:hover {
  color: #014c8c;
  text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}
strong {
    font-weight: bold;
}
/**
 * Widget Style
 */
.widget-hidden {
    display: none;
}
/**
 * Flex Style
 */
.flex-container {
    display: flex;
}
.flex-items-align-v {
    justify-content: center;
}
.flex-items-align-h {
    align-items: center;
}
.flex-items-align-vh {
    justify-content: center;
    align-items: center;
}
/**
 * Grid Style
 */
.container {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin-right: auto;
  margin-left: auto;
}
.container::after {
  display: table;
  clear: both;
  content: "";
}
@media (min-width: 544px) {
  .container {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}