@import "includes/variables";

@import "components/global";
@import "components/layout";

@import "components/header";
@import "components/form";
@import "components/button";


.h-register-describe {
  font-size: 18px;
  letter-spacing: .2px;
}

.h-register-form {
  width: 100%;
  margin: 30px;
}
