@import "includes/variables";

@import "components/global";
@import "components/layout";

.logo {
  font-size: 20px;
  font-family: $artistry-font-family;

  a {
    color: $font-color;
  }
}

.menu {
  font-size: 16px;

  li {
    margin: 0 10px;
  }
}
