@CHARSET "UTF-8";

@font-face{
  font-family: 'Fira Sans';
  src: url('fira/FiraSans-Book.eot');
  src: local('fira/Fira Sans Book'),
       url('fira/FiraSans-Book.eot') format('embedded-opentype'),
       url('fira/FiraSans-Book.woff') format('woff'),
       url('fira/FiraSans-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: 'Fira Sans';
  src: url('fira/FiraSans-BookItalic.eot');
  src: local('fira/Fira Sans Book Italic'),
       url('fira/FiraSans-BookItalic.eot') format('embedded-opentype'),
       url('fira/FiraSans-BookItalic.woff') format('woff'),
       url('fira/FiraSans-BookItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face{
  font-family: 'Fira Sans';
  src: url('fira/FiraSans-Medium.eot');
  src: local('fira/Fira Sans Medium'),
       url('fira/FiraSans-Medium.eot') format('embedded-opentype'),
       url('fira/FiraSans-Medium.woff') format('woff'),
       url('fira/FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family: 'Fira Sans';
  src: url('fira/FiraSans-MediumItalic.eot');
  src: local('fira/Fira Sans Medium Italic'),
       url('fira/FiraSans-MediumItalic.eot') format('embedded-opentype'),
       url('fira/FiraSans-MediumItalic.woff') format('woff'),
       url('fira/FiraSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face{
  font-family: 'Fira Mono';
  src: url('fira/FiraMono-Regular.eot');
  src: local('fira/Fira Mono'),
       url('fira/FiraMono-Regular.eot') format('embedded-opentype'),
       url('fira/FiraMono-Regular.woff') format('woff'),
       url('fira/FiraMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: 'Fira Mono';
  src: url('fira/FiraMono-Bold.eot');
  src: local('fira/Fira Mono Bold'),
       url('fira/FiraMono-Bold.eot') format('embedded-opentype'),
       url('fira/FiraMono-Bold.woff') format('woff'),
       url('fira/FiraMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}