@CHARSET "UTF-8";
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.1);
    color: #F00;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.4);
}
body {
    color: rgb(51, 51, 51);
    background-color: rgb(241, 241, 241);
}
#jax-loader-bar {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 99;
    background: #77b6ff;
    height: .2rem;
    box-shadow: 0 0 10px rgba(119, 182, 255, .7);
    transition: all .233s linear .05s;
}
#jax-loader-bar.is-loading {
    opacity: 1;
}
#left-screen {
    position: fixed;
    width: 38%;
    height: 100%;
    transform: translateX(-90%);
    transition: all .5s ease-in-out;
    background-color: transparent;
    z-index: 99;
}
#main-screen {
    transition: all .5s;
    border: 1px solid blue;
}
#left-screen.screen-show {
    background: #eee;
    transform: translateX(0);
}
#left-screen #left-contents {
    width: 90%;
}
#left-screen #index-left-title {
    cursor: default;
    font-size: 2.6rem;
    font-family: "Droid Serif", Georgia, "Times New Roman", STHeiti, serif;
    font-style: italic;
}
#left-screen section:not(#touch-toggle) {
    width: 100%;
    height: 5rem;
}
#left-contents {
    padding: 2rem;
}
#left-screen.screen-show #left-contents {
    background: url('../images/tbg.png');
}
#touch-toggle {
    cursor: pointer;
    color: rgba(180, 180, 180, .75);
    width: 10%;
    background-color: transparent;
    transition: all .5s ease-in-out;
}
#touch-toggle::after {
    content: "»";
    color: inherit;
    font-size: 4rem;
    transition: transform .5s ease-in-out;
}
#touch-toggle:hover {
    color: rgba(0, 0, 0, .9);
    background-color: #eee;
    box-shadow: 5px 0 11px -3px rgba(0, 0, 0, .1);
}
#left-screen.screen-show #touch-toggle {
    background-color: rgba(0, 0, 0, .05);
}
#left-screen.screen-show #touch-toggle::after {
    transform: rotate(-180deg);
    color: rgba(0, 0, 0, .9);
}
footer {
    margin-left: 29.4118%;
    color: #555;
    text-align: center;
    font-family: "Fira Mono", "Source Code Pro", monospace;
    font-size: 1.6rem;
}
footer p {
    margin-top: 1rem;
    margin-bottom: .5rem;
}
footer a {
    color: #666;
    cursor: pointer;
    border-bottom: 1px dashed rgba(0, 0, 0, .3);
    transition: all .35s;
}
footer a:focus {
    text-decoration: none;
}
footer a:hover {
    color: #111;
    text-decoration: none;
    border-bottom: 1px dashed rgba(0, 0, 0, .65);
}