@CHARSET "UTF-8";
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.1);
    color: #F00;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.4);
}
body {
    color: rgb(51, 51, 51);
    background-color: rgb(241, 241, 241);
}
#jax-loader-bar {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 99;
    background: #77b6ff;
    height: .2rem;
    box-shadow: 0 0 10px rgba(119, 182, 255, .7);
    transition: all .233s linear .05s;
}
#jax-loader-bar.is-loading {
    opacity: 1;
}
footer {
    margin-left: 29.4118%;
    color: #555;
    text-align: center;
    font-family: "Fira Mono", "Source Code Pro", monospace;
    font-size: 1.6rem;
}
footer p {
    margin-top: 1rem;
    margin-bottom: .5rem;
}
footer a {
    color: #666;
    cursor: pointer;
    border-bottom: 1px dashed rgba(0, 0, 0, .3);
    transition: all .35s;
}
footer a:focus {
    text-decoration: none;
}
footer a:hover {
    color: #111;
    text-decoration: none;
    border-bottom: 1px dashed rgba(0, 0, 0, .65);
}