@CHARSET "UTF-8";
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.1);
    color: #F00;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.4);
}
body {
    color: rgb(51, 51, 51);
    background-color: rgb(241, 241, 241);
}
#jax-loader-bar {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 99;
    background: #77b6ff;
    height: .2rem;
    box-shadow: 0 0 10px rgba(119, 182, 255, .7);
    transition: all .233s linear .05s;
}
#jax-loader-bar.is-loading {
    opacity: 1;
}
#left-screen {
    position: fixed;
    width: 38%;
    min-height: 100%;
    transform: translateX(-90%);
    transition: all .5s ease-in-out;
    background-color: transparent;
    z-index: 99;
}
#main-screen {
    transition: all .5s;
    border: 1px solid blue;
}
#left-screen.screen-show {
    background: #eee;
    transform: translateX(0);
}
#left-screen #left-contents {
    cursor: default;
    width: 90%;
}
#left-screen section:not(#touch-toggle) {
    margin: 1.5rem auto;
}
#left-screen #index-left-title {
    padding: 1rem 0;
    font-family: "Droid Serif", Georgia, "Times New Roman", STHeiti, serif;
    font-style: italic;
}
#left-screen #index-left-title h1 {
    font-size: 2.6rem;
    font-weight: bold;
    /*text-shadow: 7px 7px 6px rgba(0, 0, 0, .33);*/
}
#left-screen #index-left-title h2 {
    font-size: 1.6em;
}
#left-screen #index-left-category,
#left-screen #index-left-article-list,
#index-left-admin-list,
#index-left-more {
    font-family: "Droid Serif", Georgia, "Times New Roman", STHeiti, serif;
    font-style: italic;
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: .08rem;
    padding-left: 3rem;
}
#left-screen #index-left-category ul,
#left-screen #index-left-article-list ul,
#index-left-admin-list ul,
#index-left-more ul {
    padding-left: 1rem;
}
#left-screen #index-left-category ul li,
#left-screen #index-left-article-list ul li,
#index-left-admin-list ul li,
#index-left-more ul li {
    cursor: pointer;
    color: #333;
    line-height: 1.8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.8rem;
    transition: all .35s ease-in-out;
}
#left-screen #index-left-category ul li::before,
#left-screen #index-left-article-list ul li::before,
#index-left-admin-list ul li::before,
#index-left-more ul li::before {
    content: "»";
    padding-right: .5rem;
    color: rgba(0, 0, 0, .35);
}
#left-screen #index-left-category ul li:hover,
#left-screen #index-left-article-list ul li:hover,
#index-left-admin-list ul li:hover,
#index-left-more ul li:hover {
    color: #999;
}
#left-screen #index-left-category ul li ul {
    padding-left: 2.5rem;
}
#left-screen #index-left-category a,
#left-screen #index-left-article-list a,
#index-left-admin-list a,
#index-left-more a {
    color: inherit;
}
#left-screen #index-left-category a:hover,
#left-screen #index-left-article-list a:hover,
#index-left-admin-list a:hover,
#index-left-more a:hover {
    text-decoration: none;
}
#left-screen #index-left-article-list ul li.lock-top {
    color: #F00;
}
#left-contents {
    padding: 2rem;
}
#left-screen.screen-show #left-contents {
    background: url('../images/tbg.png');
}
#touch-toggle {
    cursor: pointer;
    color: rgba(180, 180, 180, .75);
    width: 10%;
    min-width: 5.6rem !important;
    background-color: transparent;
    transition: all .5s ease-in-out;
}
#touch-toggle::after {
    content: "»";
    color: inherit;
    font-size: 4rem;
    transition: transform .5s ease-in-out;
}
#touch-toggle:hover {
    color: rgba(0, 0, 0, .9);
    background-color: #eee;
    box-shadow: 5px 0 11px -3px rgba(0, 0, 0, .1);
}
#left-screen.screen-show #touch-toggle {
    background-color: rgba(0, 0, 0, .05);
}
#left-screen.screen-show #touch-toggle::after {
    transform: rotate(-180deg);
    color: rgba(0, 0, 0, .9);
}
footer {
    margin-left: 29.4118%;
    color: #555;
    text-align: center;
    font-family: "Fira Mono", "Source Code Pro", monospace;
    font-size: 1.6rem;
}
footer p {
    margin-top: 1rem;
    margin-bottom: .5rem;
}
footer a {
    color: #666;
    cursor: pointer;
    border-bottom: 1px dashed rgba(0, 0, 0, .3);
    transition: all .35s;
}
footer a:focus {
    text-decoration: none;
}
footer a:hover {
    color: #111;
    text-decoration: none;
    border-bottom: 1px dashed rgba(0, 0, 0, .65);
}